.btn {
    @include btn-reset;

    display: inline-flex;
    align-items: center;
    vertical-align: top;
    background: #000;
    color: #fff;
    font-family: $font-family-base;
    font-weight: bold;
    font-size: 16px;
    line-height: $line-height-base;
    text-transform: uppercase;
    min-height: 40px;
    max-width: 280px;
    padding: 9px 22px;

    /*
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    */

    transition: background 400ms ease-in;

    @media (max-width: $max-width-mobile) {
        font-size: 14px;
        min-height: 36px;
        padding: 8px 20px;
    }

    &:active {
        background: #c29974;
        opacity: 0.5;
    }

    &:disabled {
        opacity: 0.2;
    }

    &:hover:not(.btn:disabled) {
        background: #c29974;
    }
}
