.blog-articles {
    padding: 50px 0 58px;

    @media (max-width: $max-width-tablet) {
        padding: 30px 0 48px;
    }

    @media (max-width: $max-width-mobile) {
        padding: 20px 0 48px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
