.custom-range {
    -webkit-appearance: none;
    width: 193px;
    background: transparent;
    position: relative;
    padding: 0 0 3px 5px;

    @media (max-width: $max-width-mobile) {
        width: 190px;
        padding: 0 0 0 6px;
    }

    &::before {
        content: attr(min);
        position: absolute;
        top: 24px;
        left: 0;

        @media (max-width: $max-width-mobile) {
            top: 18px;
        }
    }

    &::after {
        content: attr(max);
        position: absolute;
        top: 24px;
        left: 180px;

        @media (max-width: $max-width-mobile) {
            top: 18px;
        }
    }

    &:focus {
        outline: none;
    }
}

/*
    Оформление бегунка
*/

/* Стили для WebKit/Blink */

.custom-range::-webkit-slider-thumb {
    @include range-thumb;

    height: 24px;
    width: 24px;
    margin-top: -10px;

    &:hover {
        opacity: 0.9;
    }
}

/* Стили для Firefox */

.custom-range::-moz-range-thumb {
    @include range-thumb;

    &:hover {
        opacity: 0.9;
    }
}

/* Стили для IE */

.custom-range::-ms-thumb {
    @include range-thumb;

    height: 24px;
    width: 24px;

    &:hover {
        opacity: 0.9;
    }
}

/*
    Оформление дорожки
*/

#input-range {
    --slider-position: 25%;
}

.custom-range::-webkit-slider-runnable-track {
    @include range-track;

    background: linear-gradient(to right, $color-custom-filters 0, $color-custom-filters var(--slider-position), #666 var(--slider-position), #666 100%);
    width: 100%;
    transition: background 450ms ease-in;
}

.custom-range::-moz-range-track {
    @include range-track;

    background: #666;
}

.custom-range::-ms-track {
    @include range-track;

    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

/* Стили для Firefox */

.custom-range::-moz-range-progress {
    background-color: $color-custom-filters;
    height: 4px;
}

/* Стиил для IE */

.custom-range::-ms-fill-lower {
    background-color: $color-custom-filters;
}

.custom-range::-ms-fill-upper {
    background-color: #666;
}

.custom-range:focus::-ms-fill-lower {
    background: $color-custom-filters;

    /*
        Собрать ли эти похожие стили в один
        или оставить?
    */
}

.custom-range:focus::-ms-fill-upper {
    background: #666;
}
