.product-cards {
    padding: 60px 0;

    @media (max-width: $max-width-tablet) {
        padding: 50px 0;
    }

    @media (max-width: $max-width-mobile) {
        padding: 40px 0 50px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__list {
        @include no-list;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__item {
        text-align: center;
        max-width: calc(33.333% - 14px);
        margin: 0 20px 20px 0;

        @media (max-width: $max-width-tablet) {
            margin: 0 20px 10px 0;
        }

        @media (max-width: $max-width-mobile) {
            max-width: calc(50% - 8px);
            margin: 0 16px 10px 0;
        }

        &:nth-child(3n+3) {
            margin: 0 0 20px 0;

            @media (max-width: $max-width-tablet) {
                margin: 0 0 10px 0;
            }

            @media (max-width: $max-width-mobile) {
                margin: 0 16px 10px 0;
            }
        }

        &:nth-child(2n+2) {
            @media (max-width: $max-width-mobile) {
                margin: 0 0 10px 0;
            }
        }

        &--is-active {
            display: none;
        }

        &:hover &--is-active {
            display: block;
            color: #000;
            text-transform: uppercase;
            text-decoration: none;
            cursor: pointer;
            background: rgba(229, 234, 248, 0.6);
            width: 207px;
            height: 207px;
            padding-top: 82px;
            position: absolute;
            top: 89px;
            left: 87px;
        }
    }

    &__item-link {
        display: block;
        text-align: center;
        color: #000;
        text-decoration: none;
        position: relative;
        margin: 0 0 25px;

        @media (max-width: $max-width-tablet) {
            margin: 0 0 20px;
        }

        @media (max-width: $max-width-mobile) {
            margin: 0 0 15px;
        }
    }

    &__item-img {
        display: flex;
        align-items: flex-start;
        margin: 0 0 30px;

        @media (max-width: $max-width-tablet) {
            margin: 0 0 19px;
        }

        @media (max-width: $max-width-mobile) {
            margin: 0 0 10px;
        }

        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }

    &__item-title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $font-family-base;
        font-weight: normal;
        font-size: 14px;
        line-height: calc(20 / 14);
        text-transform: uppercase;
        margin: 0 0 15px;

        @media (max-width: $max-width-tablet) {
            font-size: 12px;
            margin: 0 0 4px;
        }

        @media (max-width: $max-width-mobile) {
            height: 3em;
        }
    }

    &__item-price {
        font-weight: bold;
        text-transform: uppercase;

        @media (max-width: $max-width-tablet) {
            font-size: 14px;
        }

        @media (max-width: $max-width-mobile) {
            font-size: 12px;
        }
    }
}
