.breadcrumbs-list {
    @include no-list;

    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 17px 0 0;

    @media (max-width: $max-width-tablet) {
        margin: 11px 0 0;
    }

    @media (max-width: $max-width-mobile) {
        margin: 12px 0 0;
    }

    &__item {
        font-family: $font-family-subtitle;
        font-size: 20px;
        font-style: italic;
        line-height: calc(25 / 20);

        @media (max-width: $max-width-mobile) {
            font-size: 16px;
        }

        &:last-child {
            opacity: 0.5;
        }

        &:hover:not(.breadcrumbs-list__item:last-child) {
            opacity: 0.5;
        }

        &:active:not(.breadcrumbs-list__item:last-child) {
            opacity: 0.2;
        }
    }

    &__item-link {
        color: $color-black;
        text-decoration: none;
    }

    &__item-svg {
        align-items: center;
        margin: 0 20px;

        @media (max-width: $max-width-tablet) {
            margin: 0 18px;
        }

        @media (max-width: $max-width-mobile) {
            width: 6px;
            height: 9px;
            margin: 0 12px;
        }
    }

    /*
    &:not(:last-child)::after {
        content: url('../img/svg/stroke-next.svg');
        align-items: center;
        margin: 0 20px;

        @media (max-width: $max-width-tablet) {
            margin: 0 18px;
        }

        @media (max-width: $max-width-mobile) {
            margin: 0 12px;
        }
    }
    */
}
