.content-pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 28px 0 0;

    &--margin-top--small {
        margin: 16px 0 0;

        @media (max-width: $max-width-tablet) {
            margin: 10px 0 0;
        }
    }

    &__arrow-svg {
        display: block;
        stroke: #1e0606;
        stroke-opacity: 0.12;

        @media (max-width: $max-width-mobile) {
            width: 12px;
            height: 24px;
        }

        &:hover {
            stroke: #c29974;
            stroke-opacity: 1;
        }
    }

    &__list {
        @include no-list;

        display: flex;
        flex-direction: row;
        max-width: 1150px;
        margin: 0 auto;
    }

    &__item {
        font-family: $font-family-title;
        font-weight: bold;
        line-height: calc(20 / 16);
        margin: 0 33px;

        @media (max-width: $max-width-mobile) {
            font-size: 14px;
            margin: 0 26px;
        }

        @media (max-width: $max-width-mini-mobile) {
            margin: 0 22px;
        }
    }

    &__span {
        color: #c29974;
    }

    &__link {
        color: #1e0606;
        text-decoration: none;

        &:hover {
            opacity: 0.5;
        }

        &:active {
            opacity: 0.25;
        }
    }
}
