.footer-bottom {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #666;
    padding: 23px 0 0;

    @media (max-width: $max-width-tablet) {
        flex-wrap: wrap;
    }

    &__col {
        width: 380px;
        margin: 0 20px 0 0;

        @media (max-width: $max-width-tablet) {
            width: 300px;
            margin: 0 35px 15px 0;
        }

        &--row {
            @media (max-width: $max-width-tablet) {
                width: 100%;
            }
        }

        &:last-child {
            margin: 0;
        }

        a {
            color: #a2a2a2;
            text-decoration: none;

            &:hover {
                color: #fff;
                text-decoration: underline;
            }
        }
    }
}
