.header-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;

    @media (max-width: $max-width-tablet) {
        margin: 0;
        z-index: 3;
    }

    &__form {
        margin-right: 27px;

        @media (max-width: $max-width-tablet) {
            margin: 0;
        }
    }

    &__input {
        display: none;
    }

    &__btn {
        @include btn-reset;

        padding: 0;
        position: relative;
        top: 3px;

        &:hover {
            opacity: 0.5;
        }

        &:active {
            opacity: 0.2;
        }
    }

    &__btn-svg {
        display: block;
        background-color: $color-white;

        @media (max-width: $max-width-mobile) {
            height: 13px;
            width: 13px;
        }
    }
}
