.header-nav {
    margin: 0 20px;

    @media (max-width: $max-width-tablet) {
        display: none;
    }

    &__list {
        @include no-list;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        position: relative;

        a:hover {
            opacity: 0.5;
        }

        a:active {
            opacity: 0.2;
        }

        @media (max-width: $max-width-tablet) {
            display: block;
            margin: 25px 0;
        }
    }

    &__item {
        font-size: 14px;
        line-height: (19 / 14);
        text-transform: uppercase;
        margin: 0 10px;

        @media (max-width: $max-width-tablet) {
            font-size: 16px;
            line-height: (22 / 16);
            margin: 0 0 20px;
        }

        &--margin-top {
            margin: 35px 0 0;

            @media (max-width: $max-width-tablet) {
                display: block;
            }
        }
    }

    &__link {
        color: $color-black;
        text-decoration: none;

        &--font-w--bold {
            font-weight: bold;
        }
    }
}
