.socials-list {
    @include no-list;

    display: flex;
    flex-direction: row;
    margin: 10px 0 35px;

    @media (max-width: $max-width-mobile) {
        margin: 10px 0 45px;
    }

    &__item {
        margin: 0 10px 0 0;

        @media (max-width: $max-width-mobile) {
            margin: 0 15px 0 0;
        }

        &:hover {
            opacity: 0.5;
        }

        &:active {
            opacity: 0.2;
        }
    }

    &__item-icon {
        width: 30px;
        height: 30px;

        @media (max-width: $max-width-mobile) {
            width: 28px;
            height: 28px;
        }
    }
}
