
.contacts-form {
    background-color: #e5eaf8;
    font-family: Roboto, $font-system-sans-serif-family;
    width: 680px;
    padding: 42px 40px;

    /*
    @media (max-width: $max-width-tablet) {
        width: 100%;
    }
    */

    @media (max-width: 768px) {
        width: 100%;
        padding: 42px 56px;
    }

    @media (max-width: $max-width-mobile) {
        padding: 25px;
    }

    &__content {
        display: block;
    }

    &__group {
        display: block;
        width: 100%;
        margin-bottom: 20px;

        @media (max-width: $max-width-mobile) {
            margin-bottom: 15px;
        }

        &--width--half {
            width: 50%;

            /*
            @media (max-width: $max-width-mobile) {
                width: 100%;
            }
            */

            @media (max-width: 414px) {
                width: 100%;
            }

            &:nth-child(odd) {
                margin-right: 20px;
            }
        }
    }

    &__row {
        display: flex;
        flex-direction: row;

        /*
        @media (max-width: $max-width-mobile) {
            flex-direction: column;
        }
        */

        @media (max-width: 414px) {
            flex-direction: column;
        }
    }

    &__label {
        display: block;
        font-size: 14px;
        line-height: calc(19 / 14);
        margin-bottom: 4px;
    }

    &__field {
        @include input-reset;

        border: 1px solid #c7c1c1;
        width: 100%;
        height: 50px;
        padding: 0 18px;

        @media (max-width: $max-width-mobile) {
            font-size: 14px;
            height: 40px;
        }

        &::placeholder {
            color: $color-black;
        }

        &:hover {
            border: 1px solid $color-custom-filters;
        }

        &:active {
            border: 1px solid $color-custom-filters;
        }

        &:disabled {
            border: 1px solid #ebebeb;
        }
    }

    &__textarea {
        resize: none;
        height: 150px;
        padding: 15px 18px;
    }

    &__checkbox {
        margin: -5px 0 20px;

        @media (max-width: $max-width-mobile) {
            margin: -5px 0 15px;
        }
    }
}
