.contact-us {
    padding: 50px 0 60px;

    @media (max-width: $max-width-tablet) {
        padding: 45px 0 50px;
    }

    @media (max-width: $max-width-mobile) {
        padding: 25px 0 50px;
    }

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        /*
        @media (max-width: $max-width-tablet) {
            flex-direction: column-reverse;
        }
        */

        /*
            Сделал индивидуальные брейкпоинты для элементов в
            формах так как визуальное перестроение с ними лучше
            чем на тех которые у меня в variables
        */
        @media (max-width: 768px) {
            flex-direction: column-reverse;
        }
    }

    &__col {
        width: 380px;

        /*
        @media (max-width: $max-width-tablet) {
            text-align: center;
            width: 100%;
            margin: 0 0 25px;
        }
        */

        @media (max-width: 768px) {
            text-align: center;
            width: 100%;
            margin: 0 0 25px;
        }

        @media (max-width: $max-width-mobile) {
            margin: 0 0 10px;
        }
    }

    &__col-text {
        padding: 0;
        margin: 0 0 20px;

        @media (max-width: $max-width-mobile) {
            font-size: 14px;
            margin: 0 0 15px;
        }
    }

    &__col-title {
        color: #c29974;
        font-family: $font-family-title;
        font-weight: 600;
        font-size: 26px;
        line-height: calc(32 / 26);
        text-transform: uppercase;
        padding: 0;
        margin: 0 0 20px;

        @media (max-width: $max-width-mobile) {
            font-size: 24px;
            margin: 0 0 15px;
        }
    }
}
