.catalog-list {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;

    @media (max-width: $max-width-tablet) {
        justify-content: center;
    }

    &__item {
        flex: 0 0 calc(33% - 15px);
        min-width: 160px;

        /*
            Не нашел как сделать блоки одинаковой высоты без js.
            При переносе на новую строку, они получаются разной высоты.
        */

        @media (min-width: 768px) and (max-width: $max-width-tablet) {
            min-width: 202px;

            /* max-height: 196px; */
            margin: 0 20px 20px 0;
        }

        @media (min-width: 375px) and (max-width: $max-width-mobile) {
            flex: 0 0 calc(50% - 15px);
            min-width: 160px;
            margin: 0 15px 15px 0;
        }

        @media (max-width: 374px) {
            flex: 0 0 calc(50% - 5px);
            min-width: 100px;
            margin: 0 10px 10px 0;
        }

        /*
        img {
            max-height: 100%;
        }
        */

        &:nth-child(3n+3) {
            margin-right: 0;

            @media (max-width: $max-width-mobile) {
                margin-right: 15px;
            }

            @media (max-width: 374px) {
                margin-right: 10px;
            }
        }

        &:nth-child(2n+2) {
            @media (max-width: $max-width-mobile) {
                margin-right: 0;
            }
        }

        &:nth-child(4) {
            margin-left: auto;

            @media (max-width: $max-width-tablet) {
                margin-left: 0;
            }
        }
    }

    &__wrap {
        h3 {
            @media (max-width: $max-width-tablet) {
                font-size: 24px;
                max-width: 180px;
            }

            @media (max-width: 414px) {
                font-size: 18px;
                max-width: 135px;
            }

            @media (max-width: $max-width-mini-mobile) {
                font-size: 14px;
                max-width: 105px;
            }
        }
    }
}
