.categories {
    padding: 45px 0;

    &__container {
        width: 100%;
    }

    &__title {
        display: inline-block;
        margin-bottom: 30px;

        &:hover {
            opacity: 0.5;
        }

        &:active {
            opacity: 0.2;
        }
    }
}

.categories-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0 0 7px;

    &__item {
        margin: 0 20px 23px 0;

        &:nth-child(4n+4) {
            margin-right: 0;
        }
    }

    &__wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 280px;
        height: 270px;

        & img {
            max-width: 100%;
        }

        & h3 {
            max-width: 200px;
            position: absolute;

            &:hover {
                text-decoration: underline;
            }
        }

        &--bg--green {
            background-color: #dbe4db;
        }

        &--bg--orange {
            background-color: #eaddd3;
        }

        &--bg--yellow {
            background-color: #f8f2da;
        }

        &--bg--violet {
            background-color: #d5d4e1;
        }

        &--bg--pink {
            background-color: #f3d0db;
        }

        &--bg--blue {
            background-color: #e5eaf8;
        }
    }
}

.categories-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &__btns {
        display: flex;
        flex-direction: row;
        padding-top: 3px;
        margin-right: 20px;
    }

    &__btn {
        background-color: rgba(112, 187, 220, 0.2);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border: none;
        cursor: pointer;
        width: 37px;
        height: 37px;
        padding: 0;
        margin-right: 6px;

        &:last-child {
            margin: 0;
        }

        &--prev {
            background-image: url('../img/svg/btn-previous.svg');
        }

        &--next {
            background-image: url('../img/svg/btn-next.svg');
        }

        &:hover {
            background-color: #eee4db;
        }

        &:active {
            background-color: #eee4db;
            opacity: 0.5;
        }
    }

    &__text {
        max-width: 550px;
        margin: 0;
    }
}
