.filters {
    background: rgba(125, 151, 218, 0.2);
    margin-top: 50px;
    padding: 42px 0;
}

.filters-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.filters-col {
    color: $font-color-base;
    flex-shrink: 0;
    font-size: 16px;
    line-height: 22px;

    &:nth-child(1) {
        margin-right: 108px;
    }

    &:nth-child(2) {
        margin-right: 124px;
    }

    &:nth-child(3) {
        margin-right: 70px;
    }

    &:nth-child(4) {
        margin-right: 62px;
    }

    &__title {
        font-size: 16px;
        font-weight: bold;
        line-height: 22px;
        margin: 0 0 15px;
    }

    & .btn {
        margin: 37px 0 0;
    }
}

.filters-list,
.filters-amount {
    @include no-list;

    & li {
        margin-bottom: 15px;
    }

    &:nth-child(3) li {
        margin-bottom: 10px;
    }

    & li:last-child {
        margin-bottom: 0;
    }
}

/* custom-range */

.custom-range {
    -webkit-appearance: none;
    width: 193px;
    background: transparent;
    position: relative;
    padding-left: 5px;

    &::before {
        content: attr(min);
        position: absolute;
        top: 20px;
        left: 0;
    }

    &::after {
        content: attr(max);
        position: absolute;
        top: 20px;
        left: 180px;
    }

    &:focus {
        outline: none;
    }
}

/*
    Оформление бегунка
*/

/* Стили для WebKit/Blink */

.custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #fff;
    border: 8px solid #c29974;
    border-radius: 100%;
    cursor: pointer;
    height: 24px;
    width: 24px;
    margin-top: -10px;
}

/* Стили для Firefox */

.custom-range::-moz-range-thumb {
    border: 8px solid #c29974;
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background: #fff;
    cursor: pointer;
}

/* Стили для IE */

.custom-range::-ms-thumb {
    border: 8px solid #c29974;
    height: 24px;
    width: 24px;
    border-radius: 100%;
    background: #fff;
    cursor: pointer;
}

/* Состояния бегунка */

.custom-range::-webkit-slider-thumb:hover,
.custom-range::-moz-range-thumb:hover,
.custom-range::-ms-thumb:hover {
    opacity: 0.9;
}

/*
    Оформление дорожки
*/

#input-range {
    --slider-position: 25%;
}

.custom-range::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #c29974 0, #c29974 var(--slider-position), #666 var(--slider-position), #666 100%);
    border-radius: none;
    cursor: pointer;
    width: 100%;
    height: 4px;

    /* transition: background 450ms ease-in; */
}

.custom-range::-moz-range-track {
    width: 188px;
    height: 4px;
    cursor: pointer;
    background: #666;
    border-radius: none;
}

.custom-range::-ms-track {
    width: 188px;
    height: 4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

/* Стили для Firefox */

.custom-range::-moz-range-progress {
    background-color: #c29974;
    height: 4px;
}

/* Стиил для IE */

.custom-range::-ms-fill-lower {
    background-color: #c29974;
}

.custom-range::-ms-fill-upper {
    background-color: grey;
}

.custom-range:focus::-ms-fill-lower {
    background: #c29974;
}

.custom-range:focus::-ms-fill-upper {
    background: grey;
}

/* custom-checkbox, custom-radio */

.custom-checkbox,
.custom-radio,
.filters-amount input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.custom-checkbox + label,
.custom-radio + label {
    position: relative;
    padding: 0 0 0 29px;
    cursor: pointer;
}

.custom-checkbox + label::before,
.custom-radio + label::before {
    background: #fff;
    border: 2px solid #c29974;
    border-radius: 3px;
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    height: 20px;
    width: 20px;
}

.custom-radio + label::before {
    border-radius: 100%;
}

.custom-checkbox:checked + label::before {
    background: #fff url("../img/svg/checkbox-checked.svg") no-repeat 100% 0;

    /* background-size: 12px 12px; */
}

.custom-radio + label::after {
    content: "";
    border-radius: 100%;
    position: absolute;
    top: 5px;
    left: 4px;
    height: 12px;
    width: 12px;
}

.custom-radio:checked + label::after {
    background: #c29974;
}

/* filters-amount */

.filters-amount {
    display: flex;
    flex-direction: row;

    & label {
        background: #fff;
        display: block;
        flex-shrink: 0;
        text-align: center;
        line-height: 35px;
        cursor: pointer;
        min-width: 80px;
    }
}

.custom-checkbox + label:hover,
.custom-radio + label:hover {
    text-decoration: underline;
}

.custom-checkbox:disabled + label,
.custom-radio:disabled + label {
    opacity: 0.5;
}

.filters-amount input[type="radio"]:checked + label {
    background: #f3d0db;
}

.filters-amount label:hover:not(.filters-amount input[type="radio"]:checked + label) {
    background: #f3d0db;
    opacity: 0.5;
}
