.footer {
    background: #434343;
    color: #fff;

    &__container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}

.footer-col {
    min-width: 380px;
    margin: 100px 20px 0 0;

    &:last-child {
        margin-right: 0;
    }

    &__title {
        color: #aaa;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        border-bottom: 1px solid #666;
        padding-bottom: 23px;
        margin: 0;
    }

    &__list {
        @include no-list;

        padding: 13px 0;

        & li {
            margin: 15px 0;
        }

        & a {
            color: #fff;
            line-height: 22px;
            text-decoration: none;
        }
    }

    &__wrap {
        width: 100%;
        margin: 0;
        padding: 25px 0;
    }

    &__form {
        display: flex;
        flex-direction: row;
    }

    &__input {
        background-color: #666;
        border: none;
        border-radius: 0;
        color: #ebebeb;
        outline: none;
        width: 299px;
        height: 40px;
        padding: 0 15px;

        &::placeholder {
            color: #ebebeb;
        }
    }
}

.social-bar {
    @include no-list;

    display: flex;
    flex-direction: row;
    margin: 25px 0 0;

    &__icon {
        margin: 0 10px 0 0;
    }
}

.footer-col__list li:hover,
.social-bar__icon:hover {
    opacity: 0.5;
}

.footer-col__list li:active,
.social-bar__icon:active {
    opacity: 0.2;
}

.footer-col__input:hover {
    border: 1px solid #fffdfd;
    padding-left: 14px;
}

/* Footer bottom */

.footer-bottom {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #666;

    &__col {
        min-width: 380px;
        margin: 23px 0 100px 20px;

        &:first-child {
            align-items: center;
            margin: 23px 0 100px;
        }

        & a {
            color: #a2a2a2;
            text-decoration: none;
        }

        & a:hover {
            color: #fff;
            text-decoration: underline;
        }
    }
}

/* Star raiting */

.star-rating {
    display: inline-block;

    &__fieldset {
        margin: 0;
        padding: 3px 0 0 147px;
        border: none;
        position: relative;
    }

    &__title {
        cursor: pointer;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__container {
        position: relative;
        width: 80px;
        height: 16px;
        background-image: url("../img/svg/rating-star-disabled.svg");
        background-size: 16px;
        background-repeat: repeat-x;
    }

    &__fieldset:focus-within {
        outline: solid 1px #fff;
        outline-offset: 5px;
    }

    &__input {
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        cursor: pointer;
        font-size: inherit;
        background-size: 16px;
        background-repeat: repeat-x;
        appearance: none;

        &:nth-of-type(1) {
            z-index: 5;
            width: 16px;
        }

        &:nth-of-type(2) {
            z-index: 4;
            width: 32px;
        }

        &:nth-of-type(3) {
            z-index: 3;
            width: 48px;
        }

        &:nth-of-type(4) {
            z-index: 2;
            width: 64px;
        }

        &:nth-of-type(5) {
            z-index: 1;
            width: 80px;
        }

        &:focus {
            outline: none;
        }

        &:checked,
        &:hover {
            background-image: url("../img/svg/rating-star-enabled.svg");
        }

        &:hover ~ & {
            background-image: url("../img/svg/rating-star-disabled.svg");
        }
    }

    &:hover {
        color: #c29974;
    }
}
