.popup {
    background-color: rgba(125, 151, 218, 0.8);
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    &:target {
        display: block;
    }

    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__content {
        position: relative;
    }

    &__btn-close {
        position: absolute;
        right: -25px;
        top: 0;

        &:hover {
            opacity: 0.5;
        }

        &:active {
            opacity: 0.2;
        }
    }
}
