.slider {
    margin: 0 0 45px;
    position: relative;

    &__notification {
        background: rgba(194, 153, 116, 1);
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        padding: 12px 0;
        position: absolute;
        bottom: 0;
    }
}

.slide {
    background: #eee4db;
    box-shadow: inset 0 89px #fff;
    height: 500px;
    width: 100%;

    &__wrapper {
        display: flex;
        flex-direction: row;
    }

    &__counter {
        color: rgba(30, 6, 6, 0.05);
        font-family: "Montserrat", sans-serif;
        font-size: 60px;
        font-weight: 300;
        line-height: 73px;
        margin: 106px 22px 0 28px;
    }

    &__info {
        margin: 178px 5px 0 22px;
    }

    &__title {
        display: block;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 44px;
        text-transform: uppercase;
        max-width: 307px;
        margin: 0 0 20px;
    }

    &__description {
        display: block;
        font-family: "Crimson Text", serif;
        font-size: 20px;
        font-style: italic;
        line-height: 25px;
        margin: 0 0 20px;
    }

    &__img {
        height: 461px;
    }

    &__img img {
        max-width: 100%;
    }

    &--bg--green {
        background: #daedde;
    }

    &--bg--violet {
        background: #dfdaed;
    }

    &--bg--pink {
        background: #eddada;
    }
}

.slider-nav {
    @include no-list;

    position: absolute;
    top: 190px;
    left: 31px;

    &__item {
        line-height: 0;
    }

    &__btn {
        display: inline-flex;
        background: rgba(214, 202, 194, 1);
        border: none;
        border-top: 3px;
        border-radius: 0;
        cursor: pointer;
        width: 31px;
        min-height: 3px;
        margin: 0 0 11px;
    }

    &__btn--is-active {
        background: rgba(30, 6, 6, 0.6);
    }

    &__btn:hover {
        background: rgba(30, 6, 6, 0.6);
    }
}
