html {
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: #1e0606;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 0;

    /*
        Для учебного проекта
    */
    min-width: 1220px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
