/* Сброс стилей списков */

@mixin no-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Сброс стандартной стилизации кнопок */

@mixin btn-reset {
    border: none;
    border-radius: 0;
    text-decoration: none;
    cursor: pointer;
}
