/*
    Тут нужно будет задать mixins

    Хороший пример миксина для сброса стилей списков

    @mixin no-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    Нужно написать еще один для сброса стандартной стилизации кнопок
*/
