$font-system-sans-serif-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-system-serif-family: "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times", "Source Serif Pro", serif;
$font-system-mono-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-family-base: "Open Sans", $font-system-sans-serif-family;
$font-family-title: "Montserrat", $font-system-sans-serif-family;
$font-family-subtitle: "Crimson Text", $font-system-serif-family;

$line-height-base: calc(22 / 16);

$color-black: #1e0606;
$color-white: #fff;
$color-custom-filters: #c29974;

$max-width-mini-mobile: 320px;
$max-width-mobile: 666px;
$max-width-tablet: 1023px;
