.categories-list {
    @include no-list;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 0 7px;
    transition: transform 0.5s ease;

    &__item {
        margin: 0 20px 23px 0;
    }

    &__wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 280px;
        height: 270px;

        @media (max-width: $max-width-tablet) {
            width: 258px;
            height: 249px;
        }

        @media (max-width: $max-width-mobile) {
            width: 247px;
            height: 238px;
        }

        img {
            max-width: 100%;
        }

        h3 {
            max-width: 200px;
            position: absolute;
        }

        &--bg--green {
            background-color: #dbe4db;
        }

        &--bg--orange {
            background-color: #eaddd3;
        }

        &--bg--yellow {
            background-color: #f8f2da;
        }

        &--bg--violet {
            background-color: #d5d4e1;
        }

        &--bg--pink {
            background-color: #f3d0db;
        }

        &--bg--blue {
            background-color: #e5eaf8;
        }

        &:hover h3 {
            text-decoration: underline;
        }
    }
}

.categories-list.is-active {
    transform: translateX(-1200px);

    @media (max-width: 1219px) {
        transform: translateX(-900px);
    }

    @media (max-width: $max-width-tablet) {
        transform: translateX(-556px);
    }

    @media (max-width: $max-width-mobile) {
        transform: translateX(-267px);
    }
}
