.categories-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &__btns {
        display: flex;
        flex-direction: row;
        padding-top: 3px;

        @media (max-width: $max-width-tablet) {
            padding-top: 0;
        }

        @media (max-width: $max-width-mobile) {
            padding-top: 3px;
        }
    }

    &__btn {
        @include btn-reset;

        background-color: rgba(112, 187, 220, 0.2);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        width: 37px;
        height: 37px;
        padding: 4px 0;
        margin-right: 6px;

        @media (max-width: $max-width-tablet) {
            width: 36px;
            height: 36px;

            svg {
                width: 16px;
                height: 28px;
            }
        }

        @media (max-width: $max-width-mobile) {
            width: 33px;
            height: 33px;
            padding: 3px 0;

            svg {
                width: 14px;
                height: 26px;
            }
        }

        &:last-child {
            margin: 0;
        }

        &:hover {
            background-color: #eee4db;
        }

        &:active {
            background-color: #eee4db;
            opacity: 0.5;
        }
    }

    &__text {
        max-width: 550px;
        margin: 0 20px;

        @media (max-width: $max-width-tablet) {
            font-size: 14px;
            margin: 0 60px 0 20px;
        }

        @media (max-width: $max-width-mobile) {
            font-size: 14px;
            margin: 0 20px 0 16px;
        }
    }
}
