.categories-list {
    @include no-list;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 0 7px;
    transition: transform 0.5s ease;

    @media (max-width: $max-width-mobile) {
        margin: 0;
    }

    &__item {
        display: flex;
        flex: 0 0 calc(25% - 15px);
        justify-content: center;
        align-items: center;
        min-width: 247px;
        max-width: 280px;
        margin: 0 20px 23px 0;
        position: relative;

        @media (max-width: $max-width-tablet) {
            flex: 0 0 calc(33% - 25px);
            min-width: 258px;
        }

        @media (max-width: $max-width-mobile) {
            flex: 0 0 calc(45% - 10px);
            min-width: 247px;
            margin: 0 16px 20px 0;
        }
    }

    &__wrap {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        height: 100%;

        img {
            display: block;
            max-width: 100%;
            height: auto;
        }

        h3 {
            max-width: 180px;
            position: absolute;
        }

        &--bg--green {
            background-color: #dbe4db;
        }

        &--bg--orange {
            background-color: #eaddd3;
        }

        &--bg--yellow {
            background-color: #f8f2da;
        }

        &--bg--violet {
            background-color: #d5d4e1;
        }

        &--bg--pink {
            background-color: #f3d0db;
        }

        &--bg--blue {
            background-color: #e5eaf8;
        }

        &:hover h3 {
            text-decoration: underline;
        }
    }
}

/* Сдвиг слайдера на разных разрешениях */

/*
.categories-list.is-active {
    transform: translateX(-1200px);

    @media (max-width: $max-width-tablet) {
        transform: translateX(-556px);
    }

    @media (max-width: $max-width-mobile) {
        transform: translateX(-267px);
    }
}
*/
