.main-bottom-col {
    background-color: #e1f0f7;
    max-width: calc(50% - 50px);
    padding: 0 30px;
    margin: 0 57px 0 0;

    @media (max-width: $max-width-tablet) {
        max-width: calc(50% - 10px);
        padding: 0 15px;
        margin: 0 20px 0 0;
    }

    @media (max-width: $max-width-mobile) {
        max-width: 100%;
        padding: 0 20px;
        margin: 0 0 50px 0;
    }

    &:nth-child(2) {
        margin: 0;
    }

    &__title {
        margin: -26px 0 11px;

        @media (max-width: $max-width-tablet) {
            margin: -18px 0 14px;
            font-size: 30px;
        }

        @media (max-width: $max-width-mobile) {
            margin: -15px 0 10px;
            font-size: 24px;
        }
    }

    &__subtitle {
        font-family: $font-family-subtitle;
        font-size: 26px;
        font-style: italic;
        font-weight: normal;
        line-height: calc(33 / 26);
        margin: 0;
    }

    &__text {
        padding: 10px 0 0;
        margin: 0 0 20px;

        @media (max-width: $max-width-tablet) {
            margin: 0 0 15px;
        }
    }

    &__btn {
        margin: 0 0 35px;

        @media (max-width: $max-width-mobile) {
            margin: 0 0 25px;
        }
    }
}
