.partners-row {
    overflow: hidden;
    width: 100%;

    &__list {
        @include no-list;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-height: 61px;
    }

    &__item {
        margin: 0 0 20px 0;

        @media (max-width: $max-width-mobile) {
            width: calc(50% - 10px);
        }

        /* Оставил на случай переполнения */

        /* &:last-child {
            margin-right: auto;
        } */

        &:nth-child(1) {
            order: 0;

            @media (max-width: $max-width-mobile) {
                order: 2;
            }
        }

        &:nth-child(2) {
            order: 1;
        }

        &:nth-child(3) {
            order: 2;

            @media (max-width: $max-width-mobile) {
                order: 0;
            }
        }

        &:nth-child(4) {
            order: 3;
        }

        &:hover {
            opacity: 0.6;
        }

        &:active {
            opacity: 0.3;
        }
    }

    &__item-link {
        text-align: center;
        display: block;
        opacity: 0.8;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}
