.slide {
    background: #eee4db;
    box-shadow: inset 0 89px #fff;
    width: 100%;
    position: relative;

    @media (max-width: $max-width-tablet) {
        box-shadow: none;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;

        @media (max-width: $max-width-mobile) {
            flex-direction: row-reverse;
            justify-content: space-between;
            padding: 0 20px 0;
        }

        &::before {
            counter-increment: slide-counter;
            content: "0" counter(slide-counter);
            color: rgba(30, 6, 6, 0.05);
            font-family: $font-family-title;
            font-size: 60px;
            font-weight: 300;
            line-height: calc(73 / 60);
            margin: 106px 22px 0 28px;
            z-index: 3;

            @media (max-width: $max-width-tablet) {
                font-size: 48px;
                margin: 17px 0 0;
            }

            @media (max-width: $max-width-mobile) {
                margin: 20px 0 0;
            }
        }
    }

    &__info {
        margin: 178px 5px 128px 22px;
        z-index: 3;

        @media (max-width: $max-width-tablet) {
            margin: 76px 0 141px 11px;
        }

        @media (max-width: $max-width-mobile) {
            margin: 82px 0 243px;
        }
    }

    &__title {
        display: block;
        font-family: $font-family-title;
        font-weight: 700;
        font-size: 40px;
        line-height: calc(44 / 40);
        text-transform: uppercase;
        max-width: 307px;
        margin: 0 0 20px;

        @media (max-width: $max-width-mobile) {
            font-size: 36px;
            margin: 0 0 15px;
        }

        @media (max-width: $max-width-mini-mobile) {
            font-size: 28px;
        }
    }

    &__description {
        display: block;
        font-family: $font-family-subtitle;
        font-size: 20px;
        font-style: italic;
        line-height: calc(25 / 20);
        margin: 0 0 20px;

        @media (max-width: $max-width-mobile) {
            font-size: 18px;
            margin: 0 0 15px;
        }
    }

    &__img {
        display: flex;
        flex-direction: column-reverse;
        z-index: 1;

        @media (max-width: $max-width-tablet) {
            padding-left: 35%;
            position: absolute;
            right: 8px;
            bottom: 35px;
        }

        @media (max-width: $max-width-mobile) {
            right: 0;
            padding-left: 25%;
        }

        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }

    &--bg--green {
        background: #daedde;
    }

    &--bg--violet {
        background: #dfdaed;
    }

    &--bg--pink {
        background: #eddada;
    }
}
