.slider-nav {
    @include no-list;

    position: absolute;
    top: 190px;
    left: 31px;

    @media (max-width: $max-width-tablet) {
        top: 80px;
        left: 0;
    }

    @media (max-width: $max-width-mobile) {
        left: auto;
        right: 20px;
    }

    &__item {
        line-height: 0;
    }

    &__btn {
        @include btn-reset;

        display: inline-flex;
        background: rgba(214, 202, 194, 1);
        border-top: 3px;
        width: 31px;
        min-height: 3px;
        margin: 0 0 11px;

        &--is-active {
            background: rgba(30, 6, 6, 0.6);
        }

        &:hover {
            background: rgba(30, 6, 6, 0.6);
        }
    }
}
