.slider {
    width: 100%;
    margin: 0 0 45px;
    position: relative;
    counter-reset: slide-counter;

    @media (max-width: $max-width-tablet) {
        margin: 0 0 30px;
    }

    @media (max-width: $max-width-mobile) {
        margin: 0 0 40px;
    }

    &__notification {
        background: rgb(194, 153, 116);
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        line-height: calc(16 / 12);
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        padding: 11px 0;
        position: absolute;
        bottom: 0;
        z-index: 2;

        @media (max-width: $max-width-mobile) {
            padding: 11px 20px;
        }
    }
}
