.slider {
    margin: 0 0 45px;
    position: relative;

    &__notification {
        background: rgba(194, 153, 116, 1);
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        line-height: (16 / 12);
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        padding: 12px 0;
        position: absolute;
        bottom: 0;
    }
}
